{% extends 'blog/base.html' %}

{% block title %}Shahodat Sahifasi{% endblock %}

{% block content %}
<div class="card">
    <h1>👋 Salom, Shahodat!</h1>
    <p>Bu mening shaxsiy Django sahifam 🚀</p>
    <p>Men dasturlashni o‘rganayapman va bu mening birinchi loyiha sahifam 😎</p>
    <button class="btn" onclick="alert('Rahmat tashrif uchun 😊')">
        Bos meni
    </button>
    <div style="margin-top:20px;">
        <img src="https://via.placeholder.com/150" alt="Profile" style="border-radius:50%;">
    </div>
</div>
{% endblock %}